header {
    background-color: $white_color1;
    box-shadow: $box_shadow2;
    position: relative;
    .container {
        @include flex_between;
        .logo {
            a {
                @include flex_center;
                font-weight: bold;
                height: 50px;
                font-size: 1.25rem;
                text-transform: capitalize;
                color: $main_color;
                cursor: pointer;
                z-index: 2;
                text-decoration: none;
            }
        }
        .navbar {
            list-style: none;
            position: absolute;
            top: -200px;
            left: 0;
            background-color: $white_color2;
            width: 100%;
            padding: 10px 15px;
            transition: top 0.1s ease-in-out, z-index 0.2s 0.05s linear;
            z-index: -1;
            border-bottom: 3px solid $main_color;
            li:not(:last-of-type) {
                margin-bottom: 10px;
                border-bottom: 1px solid $dark_color;
            }
            li {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    display: block;
                    color: $dark_color;
                    padding: 8px 0;
                    margin-left: 5px;
                    transition: transform 0.3s, color 0.3s ease;
                    &:hover {
                        transform: translateX(10px);
                        color: $main_color;
                    }
                }
            }
            &.active {
                top: 100% !important;
                z-index: 1;
            }
            &.active & {
                box-shadow: none !important;
            }
        }
        > button {
            background-color: $main_color;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 2px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            span {
                display: block;
                width: 20px;
                height: 3px;
                background-color: $white_color3;
                margin: 5px;
                border-radius: 4px;
                transition: transform 0.4s, opacity 0.25s;
            }
            &.active span:first-of-type {
                transform: translateY(7.5px) rotate(45deg);
            }
            &.active span:nth-child(2) {
                opacity: 0;
            }
            &.active span:last-of-type {
                transform: translateY(-7.5px) rotate(-45deg);
            }
            &:hover {
                background-color: $dark_color;
            }
        }
    }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    header {
        box-shadow: $box_shadow2;
        .container {
            width: 85%;
            .logo {
                a {
                    height: 72px;
                    font-size: 1.5rem;
                }
            }
            .navbar,
            .navbar.active {
                position: static;
                @include flex_between;
                width: auto;
                top: 0;
                z-index: 2;
                padding: 0;
                background-color: transparent;
                border-bottom: none;
                li {
                    margin-bottom: 0 !important;
                    border: none !important;
                    a {
                        @include flex_center;
                        height: 72px;
                        padding: $padding1;
                        margin-left: 0;
                        position: relative;
                        overflow: hidden;
                        transition: color 0.3s ease;
                        &:hover {
                            transform: translatex(0);
                            background-color: $white_color2;
                            color: $main_color;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 4px;
                            background: $main_color;
                            transition: left 0.3s ease-in-out;
                        }
                        &:hover::before {
                            left: 0;
                        }
                    }
                }
            }
        }
        #toggler {
            display: none;
        }
    }
}
@media (min-width: 992px) {
    header {
        .container {
            width: 80%;
        }
    }
}
@media (min-width: 1200px) {
}
