@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
    --main-color: #7562e0;
    --dark-color: #1c1c6b;
    --disable-color: #cbcad8;
    --white-color1: #ffffff;
    --white-color2: #fafbfd;
    --white-color3: #f7f7f7;
    --white-color4: #edeafb;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--dark-color);
}

.container {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
        max-width: 1170px;
        margin: 0 auto;
    }
}

header {
    background-color: var(--white-color1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    height: 50px;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--main-color);
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}

header .container .navbar {
    list-style: none;
    position: absolute;
    top: -200px;
    left: 0;
    background-color: var(--white-color2);
    width: 100%;
    padding: 10px 15px;
    -webkit-transition: top 0.1s ease-in-out, z-index 0.2s 0.05s linear;
    transition: top 0.1s ease-in-out, z-index 0.2s 0.05s linear;
    z-index: -1;
    border-bottom: 3px solid var(--main-color);
}

header .container .navbar li:not(:last-of-type) {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--dark-color);
}

header .container .navbar li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: var(--dark-color);
    padding: 8px 0;
    margin-left: 5px;
    -webkit-transition: color 0.3s ease, -webkit-transform 0.3s;
    transition: color 0.3s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease, -webkit-transform 0.3s;
}

header .container .navbar li a:hover {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    color: var(--main-color);
}

header .container .navbar.active {
    top: 100% !important;
    z-index: 1;
}

header .container .navbar.active header .container .navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

header .container > button {
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

header .container > button span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: var(--white-color3);
    margin: 5px;
    border-radius: 4px;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.4s;
    transition: opacity 0.25s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.25s;
    transition: transform 0.4s, opacity 0.25s, -webkit-transform 0.4s;
}

header .container > button.active span:first-of-type {
    -webkit-transform: translateY(7.5px) rotate(45deg);
    transform: translateY(7.5px) rotate(45deg);
}

header .container > button.active span:nth-child(2) {
    opacity: 0;
}

header .container > button.active span:last-of-type {
    -webkit-transform: translateY(-7.5px) rotate(-45deg);
    transform: translateY(-7.5px) rotate(-45deg);
}

header .container > button:hover {
    background-color: var(--dark-color);
}

@media (min-width: 768px) {
    header {
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    header .container {
        width: 85%;
    }
    header .container .logo a {
        height: 72px;
        font-size: 1.5rem;
    }
    header .container .navbar,
    header .container .navbar.active {
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
        top: 0;
        z-index: 2;
        padding: 0;
        background-color: transparent;
        border-bottom: none;
    }
    header .container .navbar li,
    header .container .navbar.active li {
        margin-bottom: 0 !important;
        border: none !important;
    }
    header .container .navbar li a,
    header .container .navbar.active li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 72px;
        padding: 0 20px;
        margin-left: 0;
        position: relative;
        overflow: hidden;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    header .container .navbar li a:hover,
    header .container .navbar.active li a:hover {
        -webkit-transform: translatex(0);
        transform: translatex(0);
        background-color: var(--white-color2);
        color: var(--main-color);
    }
    header .container .navbar li a::before,
    header .container .navbar.active li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background: var(--main-color);
        -webkit-transition: left 0.3s ease-in-out;
        transition: left 0.3s ease-in-out;
    }
    header .container .navbar li a:hover::before,
    header .container .navbar.active li a:hover::before {
        left: 0;
    }
    header #toggler {
        display: none;
    }
}

@media (min-width: 992px) {
    header .container {
        width: 80%;
    }
}

article .landing {
    min-height: calc(100vh - 72px);
    background-color: var(--white-color3);
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

article .landing .container {
    overflow: hidden;
    text-align: center;
}

article .landing .container h2 {
    font-size: 3rem;
    width: 60%;
    margin: 0 auto;
}

article .landing .container h2 span {
    display: block;
    font-weight: bold;
}

article .landing .container p {
    line-height: 1.6;
    font-size: 1.25rem;
    margin: 20px 0;
}

article .landing .container button {
    border: 0;
    background-color: var(--main-color);
    padding: 15px 40px;
    color: var(--white-color2);
    font-weight: 900;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

article .landing .container button:hover {
    background-color: var(--dark-color);
}

article .landing .container .social-media {
    margin: 30px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

article .landing .container .social-media ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

article .landing .container .social-media ul li {
    margin: 0 7px;
}

article .landing .container .social-media ul li a {
    color: var(--main-color);
    font-size: 1.2rem;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

article .landing .container .social-media ul li a:hover {
    color: var(--dark-color);
}

article .service {
    padding: 60px 0;
}

article .service .container {
    text-align: center;
}

article .service .container .head {
    font-weight: bold;
    font-size: 1.25rem;
}

article .service .container .content {
    margin: 30px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

article .service .container .content .box {
    min-height: 200px !important;
    background-color: var(--white-color3);
    color: var(--dark-color);
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    cursor: default;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

article .service .container .content .box:hover:not(:first-child) {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

article .service .container .content .box:first-child h3 {
    color: var(--main-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
}

article .service .container .content .box:first-child h3 span {
    font-size: 3rem;
}

article .service .container .content .box:first-child p {
    margin-top: 25% !important;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.4;
    width: 50%;
}

article .service .container .content .box:nth-child(2) {
    background-color: var(--main-color);
    color: var(--white-color3);
}

article .service .container .content .box:nth-child(2) .icon {
    margin-top: 65%;
    margin-bottom: 15px;
}

article .service .container .content .box:nth-child(2) h4 {
    font-size: 1.4rem;
}

article .service .container .content .box:nth-child(2) .discover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
    font-size: 0.9rem;
    font-weight: 100;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none !important;
    color: var(--disable-color);
    cursor: pointer;
}

article .service .container .content .box:nth-child(2) .discover .arrow {
    margin-right: 3px;
    font-size: 1.25rem;
}

article .service .container .content .box:nth-child(2) .discover:hover {
    color: var(--white-color1);
}

article .service .container .content .box:nth-child(3) .icon,
article .service .container .content .box:nth-child(4) .icon {
    margin-top: 65%;
    margin-bottom: 15px;
}

article .service .container .content .box:nth-child(3) h4,
article .service .container .content .box:nth-child(4) h4 {
    font-size: 1.3rem;
    font-weight: 900;
    width: 60% !important;
}

article .contact {
    padding: 60px 0;
    background-color: var(--white-color3);
}

article .contact .container {
    text-align: center;
}

article .contact .container .title {
    font-size: 3rem;
    margin-bottom: 20px;
    position: relative;
}

article .contact .container .title::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--main-color);
    width: 25%;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

article .contact .container p {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 40px 0;
}

article .contact .container a {
    border: 0;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 15px 40px;
    color: var(--white-color2);
    font-weight: 900;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

article .contact .container a:hover {
    background-color: var(--dark-color);
}

@media (min-width: 576px) {
    article .landing .container p {
        width: 75%;
        margin: 20px auto;
        font-size: 1.4rem;
    }
    article .service .container .content {
        width: 80%;
        margin: 30px auto;
    }
    article .contact .container .title::before {
        width: 20%;
    }
    article .contact .container p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    article .landing {
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    article .landing::before {
        content: "";
        position: absolute;
        background-color: var(--main-color);
        width: 500px;
        height: 500px;
        border-radius: 50%;
        opacity: 0.8;
        right: 0;
        bottom: 0;
        -webkit-transform: translate(30%, 20%);
        transform: translate(30%, 20%);
    }
    article .landing .container {
        position: relative;
        text-align: left;
    }
    article .landing .container h2 {
        margin: 0;
        width: auto;
    }
    article .landing .container p {
        width: 60%;
        margin: 35px 0;
    }
    article .landing .container .social-media {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 60px;
    }
    article .landing .container .social-media ul {
        display: block;
        list-style: none;
        text-align: center;
    }
    article .landing .container .social-media ul li {
        margin: 7px 0;
    }
    article .landing .container .social-media ul li a {
        color: var(--disable-color);
        font-size: 1.2rem;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    article .landing .container .social-media ul li a:hover {
        color: var(--white-color1);
    }
    article .service {
        min-height: 100vh;
    }
    article .service .container .head {
        margin-left: calc(25% + 30px);
        width: 50%;
        text-align: left;
        line-height: 1.5;
    }
    article .service .container .content {
        width: 90%;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    article .service .container .content .box {
        min-height: 319px;
    }
    article .service .container .content .box > p {
        width: 40%;
        margin-top: 60px !important;
    }
    article .service .container .content .box h4 {
        width: 35% !important;
    }
    article .contact .container .title::before {
        width: 20%;
    }
    article .contact .container p {
        width: 65%;
    }
}

@media (min-width: 992px) {
    article .landing .container p {
        width: 75%;
        margin: 20px 0;
        font-size: 1.4rem;
    }
    article .service {
        min-height: 100vh;
    }
    article .service .container .content {
        width: 100%;
        margin: 30px auto;
        -ms-grid-columns: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    article .service .container .content .box:first-child {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    article .service .container .content .box:nth-child(2),
    article .service .container .content .box:nth-child(3),
    article .service .container .content .box:nth-child(4) {
        margin-top: 60px;
    }
    article .service .container .content .box:nth-child(2) h4,
    article .service .container .content .box:nth-child(3) h4,
    article .service .container .content .box:nth-child(4) h4 {
        width: 70% !important;
    }
    article .service .container .content .box:nth-child(2) {
        margin-left: 10px;
    }
    article .contact .container .title::before {
        width: 15%;
    }
    article .contact .container p {
        width: 50%;
        line-height: 1.5;
    }
}

@media (min-width: 1200px) {
    article .landing .container p {
        width: 60%;
    }
    article .service .container .content .box:nth-child(4) h4 {
        width: 50% !important;
    }
    article .contact .container .title::before {
        width: 10%;
    }
    article .contact .container p {
        width: 45%;
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    article .landing::before {
        width: 650px !important;
        height: 650px !important;
    }
    article .landing .container p {
        width: 45%;
    }
}

@media (min-width: 1500px) and (min-height: 900px) {
    article .landing::before {
        width: 700px !important;
        height: 700px !important;
    }
}

footer {
    background-color: var(--main-color);
    padding: 20px 0;
}

footer .container .copy-right {
    color: var(--white-color3);
    font-size: 1.1rem;
}

footer .container .copy-right :first-child {
    color: red;
    font-weight: bold;
    font-size: 1.25rem;
}

footer .container .copy-right span {
    font-weight: 900;
    color: var(--white-color1);
    font-size: 1.105rem;
}

article .works .container {
    padding: 60px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr)) [auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

article .works .container .box {
    background-color: var(--main-color);
    min-height: 250px;
    overflow: hidden;
    border-radius: 4px;
}

article .works .container .box .image {
    overflow: hidden;
}

article .works .container .box .image img {
    min-height: 260px;
    max-width: 100%;
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

article .works .container .box .content {
    padding: 10px 20px;
}

article .works .container .box .content .title {
    font-size: 1.4rem;
    color: var(--white-color1);
    font-weight: bold;
    text-transform: capitalize;
}

article .works .container .box .content .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

article .works .container .box .content .btns a {
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: var(--white-color1);
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}

article .works .container .box .content .btns a:hover {
    background-color: var(--dark-color);
    color: var(--white-color1);
}

@media (min-width: 1200px) {
    article .container {
        -ms-grid-columns: (minmax(300px, 1fr)) [auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    }
}

body.darkmode header {
    background-color: #7562e0;
}

body.darkmode header .container .logo a {
    color: #ffffff;
}

body.darkmode header .container .navbar {
    background-color: #7562e0;
    border-bottom-color: #ffffff;
}

body.darkmode header .container .navbar li:not(:last-of-type) {
    border-bottom-color: #f7f7f7;
}

body.darkmode header .container .navbar li a {
    color: #cbcad8;
}

body.darkmode header .container .navbar li a:hover {
    color: #ffffff;
}

body.darkmode header .container #toggler {
    background-color: #fafbfd;
}

body.darkmode header .container #toggler span {
    background-color: #7562e0;
}

body.darkmode .landing {
    background-color: #1c1c6b;
    border-bottom: 1px solid #dddddd4d;
}

body.darkmode .landing .container h2 {
    color: #ffffff;
}

body.darkmode .landing .container p {
    color: #edeafb;
}

body.darkmode .landing .container button {
    background-color: #f7f7f7;
    color: #7562e0;
}

body.darkmode .landing .container button:hover {
    background-color: #ffffff !important;
    color: #1c1c6b !important;
}

body.darkmode .landing .container .social-media ul li a {
    color: #cbcad8;
}

body.darkmode .landing .container .social-media ul li a:hover {
    color: #ffffff;
}

body.darkmode .service {
    background-color: #1c1c6b;
    border-bottom: 1px solid #dddddd4d;
}

body.darkmode .service .head {
    color: #fafbfd;
}

body.darkmode .service .content .box {
    background-color: #7562e0;
    color: #fafbfd;
}

body.darkmode .service .content .box:first-child h3 {
    color: #fafbfd;
}

body.darkmode .service .content .box:nth-child(2) {
    background-color: #ffffff;
    color: #1c1c6b;
}

body.darkmode .service .content .box:nth-child(2) .discover {
    color: #7562e0;
}

body.darkmode .service .content .box:nth-child(2) .discover:hover {
    color: #1c1c6b;
}

body.darkmode .contact {
    background-color: #1c1c6b;
    border-bottom: 1px solid #dddddd4d;
}

body.darkmode .contact .title {
    color: #ffffff;
}

body.darkmode .contact p {
    color: #edeafb;
}

body.darkmode .contact a {
    background-color: #edeafb;
    color: #7562e0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

body.darkmode .contact a:hover {
    background-color: #ffffff;
    color: #1c1c6b;
}

body.darkmode footer {
    background-color: #1c1c6b;
}

body.darkmode .settings-btn {
    background-color: #ffffff;
}

body.darkmode .settings-btn .the-btn {
    background-color: #ffffff;
}

body.darkmode .settings-btn .the-btn i {
    color: #1c1c6b;
    font-size: 1.1rem;
}

body.darkmode .settings .container {
    background-color: #7562e0;
}

body.darkmode .settings .container .theme span {
    color: #f7f7f7;
}

body.darkmode .settings .container .theme button {
    background-color: #fafbfd;
}

body.darkmode .settings .container .theme button i {
    color: #7562e0;
}

.settings {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: none !important;
    border-bottom: 2px solid var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.settings .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.settings.active {
    display: block !important;
}

.settings .container {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
    height: 195px;
    background-color: var(--white-color1);
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.settings .container .theme {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.settings .container .theme span {
    display: block;
    font-weight: bold;
    color: var(--dark-color);
}

.settings .container .theme button {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--main-color);
    color: var(--white-color1);
}

.settings-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 6;
}

.settings-btn .the-btn {
    background-color: #1c1c6b;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
/*# sourceMappingURL=master.css.map */
