@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --box-shadow-v1: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow-v2: 0 10px 25px rgba(92, 99, 105, 0.2);
  --main-margin: 100px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}
p {
  color: var(--Grayish-Blue);
  line-height: 1.6;
}
body {
  font-family: "Bai Jamjuree", arial, sans-serif;
  font-size: 18px;
}
/* start header */
.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  box-shadow: 0 0 10px #ddd;
  padding-bottom: 20px;
}
.header .container,
.download-end .container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.header .container .image img {
  margin-top: var(--main-margin);
  margin-bottom: calc(var(--main-margin) / 3);
  width: 80px;
  max-width: 100%;
}
.header .container .info,
.download-end .container .info {
  max-width: 70%;
  margin: 0 auto;
}
.header .container .info p {
  margin-top: -10px;
}
.header .container .download-section,
.download-end .container .download-section {
  margin: calc(var(--main-margin) / 3) auto 20px auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.download-section .btn-ios a,
.download-section .btn-mac a {
  padding: 10px 20px;
  color: white;
  display: block;
  border-radius: 40px;
  box-shadow: var(--box-shadow-v2);
  transition: background-color 0.5s ease-in-out;
}
.download-section .btn-ios a {
  background-color: var(--Strong-Cyan);
}
.download-section .btn-mac a {
  background-color: var(--Light-Blue);
}
.btn-ios a:hover
{
  background-color: hsl(161deg 56% 34%);
}
.btn-mac a:hover
{
  background-color: hsl(223deg 90% 59%);
}
/* end header */
/* start track */
.track {
  margin-top: calc(var(--main-margin) + 50px);
}
.track .head,
.access .head,
.charge .head {
  text-align: center;
  width: 51%;
  margin: 0 auto 50px;
}
.track .head p,
.access .head p,
.charge .head p {
  margin-top: 15px;
}
.track .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 50px;
  padding-right: 15%;
  align-items: center;
}
.track .content .image {
  grid-column: span 2;
  grid-row: span 3;
}

.track .content .image img {
  /* max-width: 100%; */
  width: 600px;
}
.track .content .cont p {
  margin-top: 10px;
  font-size: 14px;
}
/* end track */
/* start access */
.access {
  margin-top: var(--main-margin);
}
.access .image {
  margin: calc(var(--main-margin) / 2) auto;
  width: 50%;
}
.access .image img {
  max-width: 100%;
}
/* end access */
/* start Charge */
.charge .head p {
  font-size: 14px;
}
.charge .container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}
.charge .container .cont {
  text-align: center;
  align-items: flex-start;
}
.charge .container .cont img {
  width: 44px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 10px;
}
.charge .container .cont h3 {
  margin-bottom: 10px;
}
.charge .container .cont p {
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
}
/* end Charge */
/* start brands */
.brand {
  margin-top: var(--main-margin);
}
.brands .container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 10px;
  align-items: center;
}
.brands .container .brand {
  text-align: center;
}
/* end brands */
/* start download-end */
.download-end {
  margin-top: var(--main-margin);
}
.download-end .container .info {
  text-align: center;
}
.download-end .container .info p {
  font-size: 15px;
  max-width: 100%;
  margin: 10px auto 0 auto;
}
/* end download-end */
/* start footer */
.footer {
  margin-top: var(--main-margin);
  background-color: #eee;
}
.footer .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* flex-wrap: wrap; */
}
.footer .container .image img {
  width: 50px;
}
.footer .container .content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-right: auto;
  margin-left: 150px;
}
.footer .container .content ul li a {
  padding: 5px 10px;
  color: black;
  display: block;
  transition: color 0.3s ease-in-out;
}
.footer .container .content ul li a:hover {
  color: var(--Strong-Cyan);
}

.footer .container .links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.footer .container .links a {
  display: block;
}
.copyright
{
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 15px !important;
  padding: 10px;
  text-align: center;
}
.copyright span
{
  font-weight: bold;
  color: var(--Strong-Cyan);
}

/* end footer */

/* start media query */
@media (min-width: 1200px) {
  .main-container {
    margin: 0 auto;
    width: 1170px;
    overflow-x: hidden;
  }
  .footer .container {
    width: 1170px;
  }
  .header .container {
    max-width: 936px;
  }
  .charge .container {
    column-gap: 0;
  }
  .brands .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .track .head {
    width: 60%;
  }
  .footer .container .links
  {
    gap: 30px;
  }
}
@media (max-width: 1199px) {
  p {
    font-size: 17px;
  }
  .main-container {
    padding: 0 20px;
  }
  .header .container {
    width: 90%;
  }
  .header .container .info,
  .download-end .container .info {
    max-width: 70%;
  }
  .track .head,
  .access .head,
  .charge .head {
    width: 70%;
  }
  .track .content {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    gap: 0 20px;
  }
  .track .content .image {
    grid-column: span 1;
  }
  .track .content .image img {
    width: 450px;
  }
  .access .image {
    width: 75%;
  }
  .charge .container {
    width: 85%;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 10px;
  }
  .header .container,
  .download-end .container {
    width: 85%;
  }
  .footer .container .content {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .header .container .info,
  .download-end .container .info {
    max-width: 90%;
  }
  .header .container .download-section,
  .download-end .container .download-section {
    width: 80%;
  }
  .track .head,
  .access .head,
  .charge .head {
    width: 85%;
  }
  .track .content {
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: none;
    row-gap: 40px;
  }
  .track .content .image {
    grid-row: span 1;
  }
  .track .content .cont {
    width: 60%;
    margin: 0 auto;
  }
  .track .content .cont h3 {
    font-size: 28px;
  }
  .track .content .cont p {
    font-size: 18px;
  }
  .footer .container {
    width: 90%;
  }
  .footer .container .content {
    gap: 5px;
  }
}
@media (max-width: 768px) {
    p
    {
        font-size: 14px !important;
    }
    h1
    {
        font-size: 22px !important;
    }
    h2,h3
    {
        font-size: 20px !important;
    }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  .header .container {
    width: 90%;
  }
  .header .container .image img {
    width: 100px;
  }
  .header .container .info {
    width: 100%;
    max-width: 100%;
  }
  .header .container .info h1 {
    font-size: 22px;
  }
  .header .container .info p {
    max-width: 85%;
    margin: 0 auto;
  }
  .header .container .download-section,
  .download-end .container .download-section {
    width: 90%;
    grid-template-columns: 100%;
    gap: 20px 0;
  }
  .download-section .btn-ios a,
  .download-section .btn-mac a {
    padding: 15px 20px;
  }
  .track {
    max-width: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .track .head {
    width: 95%;
  }
  .track .head h2 {
    font-size: 20px;
  }
  .track .content .image img {
    width: 100%;
  }
  .track .content .cont {
    width: 90%;
  }
  .access .head {
    width: 100%;
  }
  .access .head p {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .access .image
  {
      width: 100%;
  }
  .charge .head
  {
      width: 90%;
  }
  .charge .container
  {
    grid-template-columns: 100%;
    column-gap: 0;
    width: 95%;
    row-gap: 40px;
  }
  .download-end .container
  {
      width: 95%;
  }
  .download-end .container .info
  {
      max-width: 100%;
      width: 95%;
  }
  .download-end .container .download-section
  {
      width: 95%;
  }
  .footer
  {
      max-width: 100%;
  }
  .footer .container
  {
      width: 95%;
      flex-direction: column;
  }
  .footer .container .image img
  {
      width: 80px;
  }
  .footer .container .content
  {
      flex-direction: column;
      text-align: center;
      margin: 20px auto;
  }
  .footer .container .content ul li
  {
      margin-bottom: 10px;
  }
  .footer .container .links
  {
      gap: 40px;
  }
}
/* end media query */
